<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.149:3306/BIDG_DBA</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="mx.bidg.model.siad.PriceEstimations"/>
        <mapping class="mx.bidg.model.siad.CEstimationStatus"/>
        <mapping class="mx.bidg.model.siad.CModuleStatus"/>
        <mapping class="mx.bidg.model.siad.CProductsRequest"/>
        <mapping class="mx.bidg.model.siad.CRequestsCategories"/>
        <mapping class="mx.bidg.model.siad.CRequestStatus"/>
        <mapping class="mx.bidg.model.siad.CRequestTypes"/>
        <mapping class="mx.bidg.model.siad.DistributorCostCenter"/>
        <mapping class="mx.bidg.model.siad.Requests"/>
        <mapping class="mx.bidg.model.siad.RequestOrderDocuments"/>
        <mapping class="mx.bidg.model.siad.RequestProducts"/>
        <mapping class="mx.bidg.model.siad.RoleCostCenter"/>
        <mapping class="mx.bidg.model.siad.RoleProductRequest"/>
    </session-factory>
</hibernate-configuration>