body {
    background: #E4E8E8;
}

.body {
    margin-left: 70px;
}

.header-wrapper {
    height: 100%;
    background: url("../img/header_bg_new.png") repeat-x top;
}

.header {
    width: 267px;
    margin: 0 auto;
    padding-top: 10px;
    height: 120px;
    top: 100px;
    float: none;
    background: url("../img/BID_Blanco.png") no-repeat 0 10px;
}

/* Messenger */

.messenger-message-inner {
    font-size: 1.34rem;
    font-weight: 700;
}

/* Sidebar */

.fa-2x {
    font-size: 2rem;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
}

.glyphicon-bidg {
    background: url("../img/BID_GROUP_Icon_blanco.png") no-repeat 50% 0;
    background-size: 35px;
}

.main-menu.expanded {
    width: 25rem;
    overflow: hidden;
}

.main-menu {
    color: #FFFFFF;
    background:#354553;
    border-right:1px solid #e5e5e5;
    position: fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .5s linear;
    transition:width .5s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.has-sub-nav ul {
    display: none;
    margin-left: 3rem;
    padding: 0 0 2rem 0;
    transition: 3s easy;
}

.has-sub-nav ul.expanded {
    display: block;
}

.menu-sub-nav .nav-text {
    padding: 1rem;
}

.main-menu .top-menu {
    margin: 0;
    overflow-x: hidden;
}

.main-menu > ul {
    margin: 1rem 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li > a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#fff;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;

}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
}

.main-menu > ul.logout {
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}

.main-menu .badge {
    color: #354553;
    background: #FFFFFF;
}

/* Login Form */

.login-form {
    margin: 1rem;
    padding: 4rem;
    border-radius: 2rem;
    background: #F2F4F4;
    border: 2px solid #DFE3E3;
}

.login-form label {
    text-align: center;
    font-weight: normal;
    margin-top: 1.2rem;
}

.login-form .form-control {
    border: 2px solid #e0e4e4;
    padding: 1rem;
}

.login-form-wrapper {
    float: none;
    margin: 0 auto;
}

.login-form-links {
    font-size: 1.3rem;
    margin-top: 2rem;
}

.form-signin-heading {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #DFE3E3;
}

.login-button {
    background: url("../img/login-button.png");
}

.login-button:hover {
    color: #fff;
    background: url("../img/login-button-active.png");
}

/* CSS Loader animation */

.loader,
.loader:before,
.loader:after {
    background: #555555;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader {
    text-indent: -9999em;
    margin: 0 auto;
    position: relative;
    font-size: 7px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #555555;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #555555;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #555555;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #555555;
        height: 5em;
    }
}

/* Loader overlay */

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Flex box */

.flex-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-row {
    flex: 0 1 auto;
}

.flex-header {
    flex: 0 0 auto;
    min-height: 5.5rem;
}

.flex-content {
    flex: 1 1 0;
    overflow-y: auto;
}

.flex-footer {
    flex: 0 0 auto;
    min-height: 5rem;
}

/* Fecha vertical */

.sidebar-date {
    left: 20px;
    font-weight: bold;
}

.sidebar-date {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 0 0 0;
       -moz-transform-origin: 0 0 0;
         -o-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
}

.sidebar-date.vertical {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 0 0;
       -moz-transform-origin: 0 0 0;
         -o-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
}

/* Cards */

.card {
    /*padding: 1rem 1.5rem;*/
    border: 1px solid #c8c8c8;
    border-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.card .label {
    font-size: 85%;
}

.card p, .card span {
    margin: 0 1rem 0 0;
}

.card span span {
    margin: 0;
}

.card-inline {
    max-height: 4.5rem;
}

.card-inline .badge {
    min-width: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.card-inline .card-image {
    float: left;
    max-width: 5%;
    min-width: 3rem;
    overflow: hidden;
}

.card-inline .card-title {
    float: left;
    width: 25%;
    max-width: 25%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
}

.card-inline .card-subtitle {
    float: left;
    max-width: 20%;
    overflow: hidden;
    white-space: nowrap;
}

.card-inline .card-text {
    float: left;
    color: #777777;
    max-width: 40%;
    overflow: hidden;
    white-space: nowrap;
}

.card-inline .card-actions {
    text-align: right;
    float: right;
    min-width: 10%;
    max-width: 25%;
    padding: 1rem;
}

.card-inline .card-body {
    width: 75%;
    float: left;
    padding: 1rem 1.5rem;
}
