body {
    background: #E4E8E8;
}

.header-wrapper{
    background: url("../img/header_bg.png") repeat-x top;
}

.header {
    width: 267px;
    margin: 0 auto;
    padding-top: 10px;
    height: 120px;
    top: 100px;
    float: none;
    background: url("../img/BID_Blanco.png") no-repeat 0 10px;
}

.login-form {
    margin: 1rem;
    padding: 4rem;
    border-radius: 2rem;
    background: #F2F4F4;
    border: 2px solid #DFE3E3;
}

.login-form label {
    text-align: center;
    font-weight: normal;
    margin-top: 1.2rem;
}

.login-form .form-control {
    border: 2px solid #e0e4e4;
    padding: 2rem;
}

.login-form-wrapper {
    float: none;
    margin: 0 auto;
}

.login-form-links {
    font-size: 1.3rem;
    margin-top: 2rem;
}

.form-signin-heading {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #DFE3E3;
}

.login-button {
    background: url("../img/login-button.png");
}

.login-button:hover {
    color: #fff;
    background: url("../img/login-button-active.png");
}
